.container {
  position: relative;
}
.chip{
  background-repeat: no-repeat;
  position: absolute;
  border: 1px solid #FFF;
  transition: all 0.30s ease-in-out;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
}
.chip.selected {
  border-color: #35a5e5;
  box-shadow: 0 0 6px rgba(81, 203, 238, 1);
  -webkit-box-shadow: 0 0 6px rgba(81, 203, 238, 1);
  -moz-box-shadow: 0 0 6px rgba(81, 203, 238, 1);
  z-index: 2;
}
